.git
.cache
.github
.circleci
.travis.yml
__pycache__
.idea

migrations
src/app/upload/files
!src/app/upload/files/.gitignore
env

**/migrations
**/src/app/upload/files
**/.git
**/.cache
**/.github
**/.circleci
**/.travis.yml
**/__pycache__
**/.idea